<div class="forms">
    <a class="signup-login" href="/logout">Logout</a>
</div>

<h1>Welcome {{business.companyName}}</h1>

<div id="sign-login">
    <h3>Your business information</h3>
    <p>Business Description: {{business.description}}</p>
    <br>
    <h3>Contact</h3>
    <ul>
        <li>Main contact person: {{business.contact.name}}</li>
        <li>Phone number: {{business.contact.phone}}</li>
        <li>Address: {{business.contact.address}}</li>
        <li>Email address:{{business.contact.email}}</li>
        <li>Website: {{business.contact.website}}</li>
        <li><img src="{{business.avatar.imgPath}}"></li>
        <br>
        <li>Product: {{business.products}}</li>
        <li>voucher:{{business.voucher}}</li>
    </ul>
    <br>
    <a href="/voucher/add-voucher">Add a voucher</a>
</div>


