<div class="container">
    <h1>Company Details</h1>

    <div class="details">
        {{!-- <h2 id="companyName">{{business.companyName}}</h2> --}}
    </div>
    <div class="logo">
        <img id="logo" src="{{business.avatar}}" alt="imageUrl">
    </div>
        <br>
    <div>
        <h3>Who we are</h3>
            <p class="text">{{business.description}}  </p> 
    </div>
        <div>
            <h3>Contact Details</h3>
            <br>
            <span> Contact Person:  {{business.contact.name}}</span>  
            <br>
            <span>Phone number: {{business.contact.phone}}</span>
            <br>    
            <span>Address: {{business.contact.address}}</span>
            <br>
            <a href="{{business.contact.email}}">{{business.contact.email}}</a>
            <br>
            <a href="{{business.contact.website}}">{{business.contact.website}}</a>
            
            <br>
        </div>
    
        <h3>Products</h3>
        <div id="product-list">
        {{#each business.products}}
            <img id="product" src={{imageUrl}} alt="imageUrl">
        {{/each}}
        </div>
    <div id="product-list">
     <h3>Voucher</h3>
        <span>Here you can buy a voucher from  " {{business.companyName}} " for 10€ 20€ & 50€</span>
        <br>
        <img id="product1" src="{{business.voucher1}}" alt="">
       
        </div>
    {{!-- <br>
    <h3>Voucher</h3>
    {{#each business.voucher}}
    <div>business.voucher.type</div>
    {{/each}} --}}