<h1>Welcome {{business.username}}</h1>
<br>
<h3>Please add your business information below</h3>

<form action="/business/new" method="POST" enctype="multipart/form-data">
 <label for="compmanyName">Compmany Name: </label> 
  <input id="compmanyName" type="text" name="compmanyName" value="{{ business.compmanyName}}">
  <br>
  <br>
  <label for="description">Description: </label> 
  <input id="description" type="text" name="description" value="{{ business.description}}">
  <br>
  <br>
  <label for="name">Contact Name: </label> 
  <input id="name" type="text" name="name" value="{{ business.contact.name}}">
  <br>
  <br>
  <label for="phone">Phone number: </label> 
  <input id="phone" type="text" name="phone" value="{{ business.contact.phone}}">
  <br>
  <br>
  <label for="address">Address: </label> 
  <input id="address" type="text" name="address" value="{{ business.contact.address}}">
  <br>
  <br>
  <label for="email">E-mail address: </label> 
  <input id="email" type="text" name="email" value="{{ business.contact.email}}">
  <br>
  <br>
  <label for="website">Website: </label> 
  <input id="website" type="text" name="website" value="{{ business.contact.website}}">
  <br>
  <br>
  <label for="username">Username: </label> 
  <input id="username" type="text" name="username" value="{{ business.username}}">
  <br>
  <br>

  <label for="avatar">Logo: </label> 
  <input id="avatar" type="file" name="avatar" value="{{ business.avatar}}">
  <br>
  <br>
  <label for="products">Products: </label>
  <input type="file" name="products" id="products" value="{{ business.products}}">
  <br>
  <br>
<button type="submit">Update</button>
</form>
<br>
